**Import Libraries for Twitter hate speech data and Analyze**

**Import Libraries**

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

**Import Dataset**

In [7]:
df = pd.read_csv(r'E:\Anitha\Data_Glacier\GitHub\VC\Week7\Twitter Dataset\Twitter Hate Speech.csv')
df.tail()

          id  label                                              tweet
31957  31958      0  ate @user isz that youuu?ðððððð...
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  @user #sikh #temple vandalised in in #calgary,...
31961  31962      0                   thank you @user for you follow